Keyline_Agent/n8n-workflows/send-sms.json
{
  "nodes": [
    {
      "parameters": {
        "from": "+14242772381",
        "to": "={{ $json.query.caller_phone }}",
        "message": "Hi! Here is your Keyline Home Care caregiver app link: https://bit.ly/3KcDhAB\n\nUse the app to submit incident reports, view pay stubs, update your info, and more.\n\nKeyline Home Care",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -656,
        2816
      ],
      "id": "cbb692c0-adb2-4c02-b3a5-8b62b72e55e7",
      "name": "Send App Link",
      "credentials": {
        "twilioApi": {
          "id": "Lqar34yGkhmDNI6w",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: $json.success_message || '', message_type: $('Webhook').item.json.body.message_type }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -432,
        3104
      ],
      "id": "05fd70e2-3a25-491e-a72e-5391a93e49e2",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "from": "+14242772381",
        "to": "={{ $json.query.caller_phone }}",
        "message": "Hi! Here is your Keyline Home Care application link to get started: https://bit.ly/47BLoyB",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -656,
        3200
      ],
      "id": "920f2b66-7109-4b9f-aadd-0388a4ae9d89",
      "name": "Send Prospect Link",
      "credentials": {
        "twilioApi": {
          "id": "Lqar34yGkhmDNI6w",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14242772381",
        "to": "={{ $json.query.caller_phone }}",
        "message": "Hi! Here is your Keyline Home Care app link for travel requests and other services: https://bit.ly/3KcDhAB",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -656,
        3008
      ],
      "id": "04c5930b-4d31-439d-83f0-d1a7cefcdbff",
      "name": "Send Travel Link",
      "credentials": {
        "twilioApi": {
          "id": "Lqar34yGkhmDNI6w",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "app-link-rule",
                    "leftValue": "={{ $json.body.message_type }}",
                    "rightValue": "app_link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "App Link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "travel-rule",
                    "leftValue": "={{ $json.body.message_type }}",
                    "rightValue": "travel_link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Travel Link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "prospect-rule",
                    "leftValue": "={{ $json.body.message_type }}",
                    "rightValue": "prospect_link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prospect Link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ticket-rule",
                    "leftValue": "={{ $json.body.message_type }}",
                    "rightValue": "ticket_confirmation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ticket Confirmation"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -880,
        3056
      ],
      "id": "434878a9-8047-49b7-aa5e-714bef4b9d29",
      "name": "Message Type"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aubrey-send-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1104,
        3104
      ],
      "id": "b63d6c80-6e53-44df-ab8c-9e950dca0560",
      "name": "Webhook",
      "webhookId": "aubrey-send-sms"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61378bbd-8fe5-4545-b083-bf9ddcbf1612",
              "name": "success_message",
              "value": "SMS has been sent successfully.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        3392
      ],
      "id": "008347af-5bad-45c4-bb0a-5072ae176e0c",
      "name": "Acknowledge Ticket SMS"
    }
  ],
  "connections": {
    "Send App Link": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Prospect Link": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Travel Link": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Type": {
      "main": [
        [
          {
            "node": "Send App Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Travel Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Prospect Link",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Acknowledge Ticket SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge Ticket SMS": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e32934b8079ac2351a089bd93561b3e42ef064571e16f0ffda8cb36cae314f32"
  }
}